{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block head %}
<div class="jumbotron">
	<div class="container">
		<h1>jobplus</h1>
		<p>platform</p>
	</div>
</div>
{% endblock %}

{% block body %}
<ul class="nav nav-tabs list-title">
	<li role="presentation" class="active"><a href="#">最新职位</a></li>
	<li role="presentation" class="active"><a href="#">test</a></li>
</ul>
<div class="newest-job-list">
	<div class="col-sm-6 col-md-4">
		<div class="job-box">
			<div class="caption">
				<b>test</b>
				<p>test2</p>
				<span class="label label-default">test3</span>
				<span class="label label-default">test4</span>
				<span class="label label-default">test5</span>
			</div>
			<hr>
			<div class="media">
				<div class="media-left">
					<a href="#" src="#" width="40" heght="40" alt="...">
					</a>
				</div>
				<div class="media-body">
					<h4 class="media-heading">Media heading</h4>
					火球
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-6 col-md-4">
		<div class="job-box">
			<div class="caption">
				<b>test</b>
				<p>test2</p>
				<span class="label label-default">test3</span>
				<span class="label label-default">test4</span>
				<span class="label label-default">test5</span>
			</div>
			<hr>
			<div class="media">
				<div class="media-left">
					<a href="#" src="#" width="40" heght="40" alt="...">
					</a>
				</div>
				<div class="media-body">
					<h4 class="media-heading">Media heading</h4>
					火球
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-6 col-md-4">
		<div class="job-box">
			<div class="caption">
				<b>test</b>
				<p>test2</p>
				<span class="label label-default">test3</span>
				<span class="label label-default">test4</span>
				<span class="label label-default">test5</span>
			</div>
			<hr>
			<div class="media">
				<div class="media-left">
					<a href="#" src="#" width="40" heght="40" alt="...">
					</a>
				</div>
				<div class="media-body">
					<h4 class="media-heading">Media heading</h4>
					火球
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-6 col-md-4">
		<div class="job-box">
			<div class="caption">
				<b>test</b>
				<p>test2</p>
				<span class="label label-default">test3</span>
				<span class="label label-default">test4</span>
				<span class="label label-default">test5</span>
			</div>
			<hr>
			<div class="media">
				<div class="media-left">
					<a href="#" src="#" width="40" heght="40" alt="...">
					</a>
				</div>
				<div class="media-body">
					<h4 class="media-heading">Media heading</h4>
					火球
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

